@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500&display=swap");

body {
  font-family: "Josefin Sans", sans-serif;
  white-space: pre-line;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(247, 246, 217);
}

.main-content {
display: grid;
grid-template-rows: 80% 300px;
}

.buttons-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons-group {
  display: flex;
  align-items: center;
}

.answer-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(57, 156, 26);
  height: min(25vw, 400px);
  width: min(25vw, 400px);
  font-size: min(2vw, 3rem);
  font-weight: 600;
  border-radius: 10px;
  border: 15px solid rgb(252, 247, 246);
  -webkit-box-shadow: 1px 8px 24px -14px rgba(66, 68, 90, 1);
  -moz-box-shadow: 1px 8px 24px -14px rgba(66, 68, 90, 1);
  box-shadow: 1px 8px 24px -14px rgba(66, 68, 90, 1);
  z-index: 50;
  padding: 20px;
}

#todays-btn {
  height: min(40vw, 450px);
  width: min(40vw, 450px);
  font-size: 2.5vw;
  z-index: 100;
}

.answer-text {
  font-size: 5rem;
  font-weight: 800;
}

.answer-text-today {
    font-size: 6rem !important;
    font-weight: 800;
  }

.logo-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 5.5vw;
}

@media only screen and (max-width: 1200px) {
  .buttons-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  .answer-btns {
    width: max(35vw, 200px);
    height: max(35vw, 200px);
    font-size: 6vw;
  }

  #todays-btn {
    font-size: 8vw;
  }

  .logo-section {
    font-size: min(10vw, 6rem);
    padding: 40px;
  }
}