@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    height: 100vh;
}

main {
    height: 70%;
}
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons-group {
    display: flex;
    align-items: center;
}

.answer-btns {
    background-color: green;
    height: 300px;
    width: 400px;
}

#todays-btn {
    height: 400px;
    width: 600px;
}

.logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}