body {
    height: 100vh;
}
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons-group {
    display: flex;
    justify-content: center;
    align-content: center;
}