body {
    height: 100vh;
}

main {
    height: 80vh;
}
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons-group {
    display: flex;
    justify-content: center;
    align-content: center;
}

.answer-btns {
    background-color: green;
    height: 300px;
    width: 500px;
}