@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500&display=swap");

body {
  font-family: "Josefin Sans", sans-serif;
  white-space: pre-line;
}

.main-content {
    min-height: 100vh;
display: grid;
grid-template-rows: 80% 300px;
  background-color: rgb(247, 246, 217);
    border-radius: 50px;
}

.buttons-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons-group {
  display: flex;
  align-items: center;
}

.answer-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(57, 156, 26);
  height: 400px;
  width: 400px;
  font-size: 2.5rem;
  font-weight: 600;
  border-radius: 10px;
  border: 4px solid rgb(252, 247, 246);
}

#todays-btn {
  height: 600px;
  width: 600px;
  font-size: 2.5rem;
}

.answer-text {
  font-size: 5rem !important;
  font-weight: 800;
}

.logo-section {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
}


